.env
.env.local
archive/
dist/
.parcel-cache
node_modules
public/tests/read-fieldnotes/screenshots
public/tests/write-fieldnotes/screenshots
lighthouse
.unlighthouse
hint-report/
# Local Netlify folder
.netlify
public/sw.js