/* VARIABLES */

:root {
  --d: .5rem;
  --w: 100vw;
  --h: 100vh;
  --c0: #ffffff;
  --c1: #fbfbfb;
  --c2: #d7d7d7;
  --c3: #b9b9b9;
  --c4: #9e9e9e;
  --c5: #565656;
  --c6: #323232;
  --c7: #414141;
  --c8: #000000;
  --s1: .6rem;
  --s2: .7rem;
  --s3: .8rem;
  --s4: .9rem;
  --s5: 1rem;
  --s6: 1.1rem;
  --s7: 1.2rem;
  --s8: 1.3rem;
  --s9: 1.4rem;
  --main: #f2ebe2;
  --secondary: #f8f4f0;
  --accent: #4f3c24;
  --fungi: #e1e1e1;
  --amphibia: #e2deb4;
  --mammalia: #f0c782;
  --plantae: #d8dfd2;
  --insecta: #e2dce2;
  --aves: #d7e3f1;
  --reptilia: #fee2df;  
  --active-bg: #9fd4be;
  --inactive-bg: #84c8ab;
  --inactive-bg-light: #c3e2d3;
  --accent-border: #9fd4be;
  --success-bg-light: #e2e9f1;
  --error-bg-light: #f7eff3;
  --save-bg-light: #e2e9f1;
  --save-bg: #c8d5e4;
  --grid-min-max: 180px;
  --img-min-width: 180px;
  --img-min-height: 180px;
  --alert: #ead5df;
  --alert-bg-light: #f7eff3;
  --alert-border: #ead5df;  
}

/* ELEMENTS */

body {  
  font-family: Elena, "PT Serif", serif;
  background-color: var(--main);
  -webkit-font-smoothing: antialiased;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--w) / 30);
  min-height: 50px;
  border-bottom: 1px dashed var(--c8);  
}

menu {
  width: 100%;
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-evenly;
  font-size: var(--s3);
}

menu li {
  cursor: pointer;
}

header menu a {
  border-width: 0;
}

header menu a.selected {
  border-width: calc(var(--d) * .15);
}

main, aside {
  margin: auto;
  max-width: 80ch; 
}

aside * {
  font-size: var(--s2);
}

aside div {
  margin-top: var(--d);
}

aside menu li {
  margin: calc(1 * var(--d)) 0;
}

aside menu li button {
  background-color: var(--secondary);
}

h1 {
  font-size: var(--s3);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: calc(var(--d) / 5);
  -webkit-font-smoothing: antialiased;
}

h2 {
  display: flex;
  align-items: center;
  margin: calc(var(--d) * 2) 0;
  width: 100%;
  font-size: var(--s5);
  letter-spacing: calc(var(--d) * .025);
  -webkit-font-smoothing: antialiased;
}

h2 label {    
  text-transform: uppercase;
  font-size: var(--s2);
}

h2 label::first-letter, label.text-initial::first-letter {
  text-transform: initial !important;
}

h3 {
  margin: var(--d) 0;
  font-size: var(--s5);
  letter-spacing: calc(var(--d) / 10);
  color: var(--c6);
}

h4 {
  margin: var(--d) 0;
  font-size: var(--s4);
  letter-spacing: calc(var(--d) / 10);
}

ul {
  margin: 0;
  padding-inline-start: 0;
}

li {
  margin: calc(2 * var(--d)) 0;
  padding: 0;
  list-style-type: none;
}

li.small {
  margin: var(--d) 0;
}

button {
  margin: 0;
  line-height: calc(var(--d)* 2);
  border: 1px solid var(--accent-border);
  border-radius: calc(var(--d) * .5);
  padding: calc(var(--d) * 1.25) calc(var(--d) * 2.5);
  font-size: var(--s3);
  letter-spacing: calc(var(--d) * .015);
  background-color: var(--inactive-bg);
  cursor: pointer;
}

button:hover {
  color: var(--c8) !important;
}

button.submit:hover {
  border-color: var(--c8);
  background-color: var(--active-bg);
}

button:focus-visible, button:focus {
  outline: 1px solid var(--accent);
  border: 1px solid transparent !important;
  background-color: var(--active-bg);  
}

label {
  font-size: var(--s3);
  -webkit-font-smoothing: antialiased;
  width: inherit;
  min-width: calc(var(--d) * 7);
  max-width: 500px;
}

.flex-row label {
  width: 100%;
}

.grid > div > label {
  margin: 0 0 calc(var(--d) * .75);
}

input[type='radio'] + label::first-letter {
  text-transform: uppercase;
}

input[type='checkbox'], input[type='radio'] {
  margin: 0 calc(var(--d) * .5) 0 0;
  accent-color: var(--accent);
  cursor: pointer;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

input[type='checkbox'] + label, input[type='radio'] + label {
  margin-bottom: 0;
  letter-spacing: calc(var(--d) * .025);
  cursor: pointer;
}

input[type='checkbox'] + label, .flex-row input[type='radio'] + label {
  position: relative;
}

input[type='checkbox'] {
  flex: none;
}

input[type='checkbox'] + label {
  text-transform: capitalize;
  display: flex; 
  align-items: center; 
}

input[type='text'], input[type='email'], input[type='password'], textarea {
  width: 100%;
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  border: 1px solid var(--c3);  
  border-radius: calc(var(--d) * .5);
}

input[type='date'] {
  border: 1px solid var(--c3);
  border-radius: calc(var(--d) * .5);
}

input[type='text']:focus-visible, input[type='email']:focus-visible, input[type='password']:focus-visible, input[type='date']:focus-visible, textarea:focus-visible {
  border: 1px solid transparent;
  outline: 1px solid var(--c8);
}

textarea {
  resize: none;
  font-family: inherit;
}

h2 input[type='radio'] + label {
  position: relative;
}

@-moz-document url-prefix() {
  input[type='text'], input[type='email'], input[type='password'], input[type='date'], textarea {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
  }
  input[type='date'] {
    height: 34px;
  }
  .flex-row input[type='radio'] + label, h2 input[type='radio'] + label {
    top: 1px;
  }  
}

input[type='number'] {
  width: calc(var(--d) * 5);
}

input[type='date']::-webkit-datetime-edit {
   padding: var(--d);
}

input[type='date']::-webkit-calendar-picker-indicator {
   margin: var(--d);
   cursor: pointer;
}

select {
  border: 1px solid var(--c3);
  padding: calc(var(--d) * .75) 0;
  cursor: pointer;
}

select:focus-visible, select:focus {
  border: 1px solid transparent;
  outline: 1px solid var(--c8);
}

dl {
  max-width: 70ch;
  margin: 0 auto calc(var(--d) * 4) auto;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: var(--s3);
}

dt {
  margin: 0 0 calc(var(--d) * .5) 0;
  font-weight: bold;
}

dd, dl em, dl a {
  margin: 0 0 var(--d) 0;
}

dd:empty, div:empty {
  display: none;
}

dt:has(+ dd:empty) {
  display: none;
}

main > fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;  
}

dialog, dialog:focus-visible, dialog:focus {
  position: sticky;
  bottom: calc(var(--d) * 2);
  padding: calc(var(--d) * 2);
  border: 1px solid var(--c4);
  border-radius: var(--d);
  outline: none;
  z-index: 2;
}

dialog div {
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset {
  position: relative;
  margin: 0 0 calc(var(--d) * 2) 0;
  border: 1px dashed var(--c4);
  padding: calc(var(--d) * 6) calc(var(--d) * 2) calc(var(--d) * 2) calc(var(--d) * 2);
  background-color: var(--secondary);
}

fieldset.fieldset-reset {
  margin: 0;
  border: none;
  padding: var(--d) 0 0 0;
  background-color: initial;
}

fieldset.fieldset-reset fieldset {
  border-color: var(--c5);
  border-top: none;
}

legend  {
  position: absolute;
  top: calc(var(--d) *.5);
  left: var(--d);
  padding: calc(var(--d) * 1.5) var(--d);
  font-size: var(--s3);
  font-weight: bold;
  letter-spacing: calc(var(--d) * .05);
  color: var(--c7);
}

figure input[type='text'] {
  width: initial;
}

a {
  border-bottom: 1px solid var(--c8);
  padding-bottom: calc(var(--d) *.25);
  text-decoration: none;
  color: var(--c8);
  line-height: calc(var(--d)* 4);
}

a.info {
  position: relative;
  z-index: 24;
  text-decoration: none;
}

a.info span:nth-child(2) {
  position: absolute;
  left: -9000px;
  width: 0;
  overflow: hidden;
}

  a.info:hover span:nth-child(2)
, a.info:focus span:nth-child(2)
, a.info:active span:nth-child(2) 
{
  display: block;
  position: absolute;
  top: calc(var(--d) * -4.5);
  left: calc(var(--d) * 5);
  border: 1px solid var(--c2);
  width: calc(var(--d) * 20);
  padding: var(--d);
  text-align: center;
}

figure {
  margin: 0 auto var(--d) auto;
  text-align: center;
  border-radius: calc(var(--d)* .5);
}

figcaption {
  font-size: var(--s3);
  font-style: italic;
}

p {
  margin: calc(var(--d) * 2) 0;
}

th, td {
  min-width: 100px;
  font-size: var(--s3);
  text-align: left;
  font-weight: normal;
}

img {
  object-fit: cover;
  width: 100%;
}

/* Write fieldset only */
.species-list figure img {
  aspect-ratio: 1/1;
  width: initial;
  min-height: initial;
  max-height: initial;
}

/* STATES */

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
  pointer-events: none;
  width: 0;
  min-width: 0;
}

.btn-reset {
  position: absolute;
  border: none;
  background-color: initial;
}

.disabled {
  pointer-events: none;
  opacity: .5;
}

.draggable {
  cursor: pointer;
}

.drop-before {
  background-color: var(--inactive-bg);
}

.moveable {
  cursor: grabbing;
}

.initial-width {
  min-width: initial;
}

.initial-text {
  text-transform: initial !important;
}

label::first-letter {
  text-transform: initial !important;
}

.error-bg {
  background-color: var(--error-bg-light);
}

.success-bg {
  background-color: var(--success-bg-light);
}

.success-icon::before {
  content: '\2713';
  margin-right: calc(var(--d) * .5);
}

.error-icon::before {
  content: '\2717';
  margin-right: calc(var(--d) * .25);
}

.capitalise {
  text-transform: capitalize;
}

.serif {
  font-family: Elena, "PT Serif", serif;
}

.alert {
  border-color: var(--alert);
}

.btn-alert {
  border-color: var(--alert-border);
  background-color: var(--alert-bg-light);
}

.border-solid {
  border: 1px solid var(--c8);
}

.max-content {
  width: max-content;
}

/* SELECTOR RULES */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: var(--d);
  margin: 0 auto calc(var(--d)) auto;
  /* background-color: var(--c0); */
}

.inat-preferences-section .grid {
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
}

.grid:has(figure, img) {
  margin: 0 auto;
}

.grid > * {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.grid:not(:has(figure)) img {
  object-fit: cover;
  cursor: pointer;  
}

.grid .flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: calc(var(--d) * 1.5) var(--d);
  border: 1px dotted var(--c2);
  border-radius: calc(var(--d)* .5);
  background-color: var(--c1);
}

#inat-autocomplete-group-container .flex-row {
  background-color: var(--inactive-bg-light);
}

.grid .species-panel {
  display: flex;
  font-size: var(--s3);
}

.grid .species-panel hgroup p {
  white-space: pre-line;
}

.grid .species-panel:empty {
  display: none;
}

.non-grid {
  margin: 0 auto calc(var(--d) * 4) auto;
  max-width: 30ch;
}

.non-grid:has(h3), .non-grid:has(h4) {
  margin-bottom: 0;
}

.non-grid p {  
  line-height: calc(var(--d)* 4);
  font-size: var(--s6);  
  color: var(--c6);
  -webkit-font-smoothing: antialiased;
}

.grid div > div, .grid figure > figcaption  {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  height: calc(6 * var(--d));
  padding: var(--d);
  font-size: var(--s3);
}

#lesson legend:empty {
  display: none;
}

.grid span::first-letter {
  text-transform: capitalize;
}

.grid figcaption span:nth-child(2) {
  margin-top: calc(var(--d) * .5);
  font-size: var(--s3);
}

#inat-autocomplete-input-text::placeholder {
  opacity: 1;
}

#selected-term {
  font-size: var(--s3);  
}

#terms label, #selected-term span:nth-child(1){
  min-width: calc(var(--d) * 10);
}

#selected-terms-list li {
  margin: var(--d) 0;
}

/* ALL-PURPOSE RULES */

.block {
  display: inline-block;
}

.centred-block {
  display: flex;
  align-items: center;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

.flex-columns > * {
  flex: 1;
}

.double-centred-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  border: 1px solid var(--c2);
  padding: var(--d);
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.section-group {
  margin-bottom: calc(var(--d) * .25);
  padding-left: calc(var(--d) * 2);
  align-items: center;
  color: var(--c6);
  background-color: var(--c0);
}

.section-group input:checked {
  border-color: var(--c1);
}

.section-group:has(input:checked) {
  color: var(--c1);
  background-color: var(--c5);
}

.latin {
  font-style: italic;
}

.as-p {
  position: initial;
  padding: 0 0 var(--d) 0;
  width: initial;
  font-weight: initial;
}

.double-height {
  height: calc(var(--d) * 4);
}

.fl {
  float: left;
}

.btn-secondary  {
  position: absolute;
  top: var(--d);
  right: calc(var(--d) * 2);
  left: initial;
  padding: var(--d);
  width: initial;
  border: 1px solid transparent;
  font-size: var(--s1);
  font-weight: initial;
  text-transform: uppercase;
  color: var(--c5);
  background-color: var(--secondary);
}

.btn-secondary-bottom {
  top: initial;
  bottom: var(--d);
}

.btn-secondary:focus {
  background-color: var(--c0);
  outline: 1px solid var(--c4);
}

.btn-save {
  background-color: var(--save-bg-light);
}

.btn-save:focus {
  background-color: var(--save-bg);
}

/* CONTROLS */

.show-hide {
  border: none;
  font-size: var(--s2);
  text-transform: uppercase;
  color: var(--c5);
  background-color: var(--c1);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  max-height: 40.5px;
}

#observation-dates > div > label:nth-child(2) {
  width: calc(var(--d) * 4);
}

#observation-dates div:nth-child(4) > label:nth-child(2) {
  width: initial;
}

#observation-dates input[type="date"], #observation-dates label {
  font-size: var(--s1);
}

#observation-dates label:nth-child(3), #observation-dates label:nth-child(2) {
  min-width: calc(var(--d) * 4);
}

#observation-dates input[type="date"] {
  width: calc(var(--d) * 13);
}

#select-section-type-section {
  position: sticky;
  top: var(--d);
  z-index: 1;
  padding-bottom: var(--d);
}

#select-section-type-section fieldset {
  padding-block-start: calc(var(--d) * 4);
  border-color: var(--c5);
  border-style: solid;
}

fieldset.species-list {
  padding: calc(var(--d) * 6) calc(var(--d) * 2) calc(var(--d) * 6) calc(var(--d) * 2);
}

/* VIEWS */

.edit-view *:not(input, textarea) {
  width: initial;
  max-width: initial;
}

/* POSITIONING */

.text-left {
  text-align: left;
}

/* SPACING */

.m {
  margin: var(--d);
}

.m0 {
  margin: 0
}

.mt {
  margin-top: var(--d);
}

.mt0 {
  margin-top: 0;
}

.mt2 {
  margin-top: calc(var(--d) * 2);
}

.mr {
  margin-right: var(--d);
}

.mb0 {
  margin-bottom: 0;
}

.mb05 {
  margin-bottom: calc(var(--d) * .5);
}

.mb {
  margin-bottom: var(--d);
}

.mb2 {
  margin-bottom: calc(var(--d) * 2);
}

.mb4 {
  margin-bottom: calc(var(--d) * 4);
}

.ml {
  margin-left: var(--d);
}

.ml4 {
  margin-left: calc(var(--d) * 4);
}

.ml6 {
  margin-left: calc(var(--d) * 6);
}

.ml7 {
  margin-left: calc(var(--d) * 7);
}

.ml8 {
  margin-left: calc(var(--d) * 8);
}

.p {
  padding: var(--d);
}

.pt {
  padding-top: var(--d);
}

.pt2 {
  padding-top: calc(var(--d) * 2);
}

.pr {
  padding-right: var(--d);
}

.pr2 {
  padding-right: calc(var(--d) * 2);
}

.p0 {
  padding: 0;
}

.pb0 {
  padding-bottom: 0;
}

/* SIZE */

.small {
  font-size: var(--s3);
  line-height: calc(var(--d) * 2.5);
}

.smallish {
  font-size: var(--s2);
  line-height: calc(var(--d) * 2);
}

.tiny {
  font-size: var(--s1);
}

.t0 {
  top: 0;
}

.t1 {
  top: var(--d);
}

.r1 {  
  right: var(--d);
}

.mw4 {
  min-width: calc(var(--d) * 4);
}

.mw8 {
  min-width: calc(var(--d) * 8);
}

.caption {
  display: block;
  width: 100%;
  padding: 0 0 calc(var(--d) * 2) 0;
  text-align: center;
  font-family: sans-serif;
}

/* MEDIA */

@media (orientation: landscape) {
  header {
    margin: 0 10vw;
  }

  #header span {
    top: calc(var(--d) * 1);
  }

  aside form {
    width: 60%;
    margin: auto;
  }

  dl {
    margin: 0 auto calc(var(--d) * 4) auto;
    border: 1px solid var(--c3);
    border-radius: calc(var(--d)* .5);
    padding: calc(var(--d) * 2) calc(var(--d) * 2) 0 calc(var(--d) * 2);
  }
}

@media only screen and (min-width: 32em) {
  #observation-dates input[type="date"] {
    width: initial;
    font-size: var(--s3);
  }

  #observation-dates label {
    font-size: var(--s3);    
  }

  #observation-dates label:nth-child(3), #observation-dates label:nth-child(2) {
    min-width: calc(var(--d) * 6);
  }
}

@media screen and (min-width: 414px){
  .non-grid {
    max-width: 60ch;
  }

  figure {
    margin: 0 0 var(--d) 0;
  }

  img {
    aspect-ratio: 1/1;
    min-height: var(--img-min-height);
    max-height: var(--img-min-height);
  }
}

@media print {
  .print-ignore {
    display: none;
  }

  main {
    max-width: 140ch;
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-height: var(--img-min-height);
  }

  a {
    border-bottom: none;
  }

  iframe {
    display: none;
  }

  .page-breaks {
    padding-top: calc(var(--d) * 5);
    break-before: page;
  }

  .non-grid {
    max-width: 140ch;
  }

  .non-grid:has(iframe) {
    display: none;
  }
}
